.authSubmit {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: rgba(35,77,212,1);
  border: 1px solid rgba(35,77,212,1);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.authSubmit:hover {
  background-color: #fff;
  color: rgba(35,77,212,1);
}
.authSubmit:active,
.authSubmit:focus,
.authSubmit:focus-visible {
  box-shadow: none !important;
}
.typeBtn:hover {
  background-color: rgb(239, 107, 74) !important;
  color: #fff !important;
}