.authSubmit {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  color: #fff;
  background-color: #250168;
  border: 1px solid #250168;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.authSubmit:hover {
  background-color: #fff;
  color: #250168;
}
.authSubmit:active,
.authSubmit:focus,
.authSubmit:focus-visible {
  box-shadow: none !important;
}
.typeBtn:hover {
  background-color: rgb(239, 107, 74) !important;
  color: #fff !important;
}