@import "tailwindcss";
@font-face {
  font-family: "AgencyFB";
  src: url("/fonts/agency.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Myriad";
  src: url("/fonts/Myriad.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.input {
  @apply w-full px-4 py-2 border rounded-md;
}
.btn {
  @apply px-4 py-2 border border-gray-300 rounded hover:bg-gray-100;
}

body {
  font-family: "Myriad", sans-serif;
}
img {
  width: auto;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "AgencyFB", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input.errorInput {
  border: 1px solid #ff2020 !important;
}

/* swipers arrows */
.speakers-swiper .swiper-button-prev {
  left: calc(100% - 120px) !important;
  top: 35px !important;
}
.speakers-swiper .swiper-button-prev::after,
.expectation-swiper .swiper-button-prev::after {
  font-size: 22px !important;
  background-color: #5bf286 !important;
  transition: all 0.3s ease-in-out;
  padding: 10px 17px 10px 15px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.expectation-swiper .swiper-button-prev::after {
  border: 1px solid #5bf286 !important;
}

.speakers-swiper .swiper-button-prev:hover::after,
.expectation-swiper .swiper-button-prev:hover::after {
  background-color: #ffffff !important;
  color: #5bf286 !important;
}

.speakers-swiper .swiper-button-next {
  right: 30px !important;
  top: 35px !important;
}

.speakers-swiper .swiper-button-next::after,
.expectation-swiper .swiper-button-next::after {
  font-size: 22px !important;
  background-color: #5bf286 !important;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px 10px 17px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  color: #ffffff !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.expectation-swiper .swiper-button-next::after {
  border: 1px solid #5bf286 !important;
}

.speakers-swiper .swiper-button-next:hover::after,
.expectation-swiper .swiper-button-next:hover::after {
  background-color: #ffffff !important;
  color: #5bf286 !important;
}
