.heroContainer {
  background-image: url("../../../public//images/summit-cover.webp");
  background-size: cover;
  background-position: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInItem {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}
.fadeInItem img {
  width: 500px !important;
}

.fadeInItem:nth-child(1) {
  animation-delay: 0.3s;
}

.fadeInItem:nth-child(2) {
  animation-delay: 0.6s;
}

.fadeInItem:nth-child(3) {
  animation-delay: 0.9s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
